:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --black-color: #000000;
    --icons-color: #afb1b8;
    --features-color: #f5f4fa;
}
.outline {
    outline: 1px solid red;
}

/* Start Studio page */
body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}
.container {
    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* Шапка */
header {
    border-bottom: 1px solid #ececec;
}
.container-header {
    display: flex;
    align-items: center;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo {
    color: var(--black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}
.logo-first {
    color: var(--accent-color);
}
.container-navigation {
    display: flex;
}

.list-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    text-decoration: none;
}
.header-list {
    list-style-type: none;
}
.header-list + .header-list {
    margin-left: 50px;
}

.list-nav:hover,
.list-nav:focus {
    color: var(--accent-color);
}
.list-nav.current {
    color: var(--accent-color);
}


.container-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}
.header-items {
    margin-right: 10px;
    fill: currentColor;
}
.header-contacts + .header-contacts {
    margin-right: 50px;
}

/* Герой */
.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #c4c4c4;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    color: var(--third-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
}
.button {
    background-color: var(--accent-color);
    color: var(--third-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
    background-color: #188ce8;
    color: var(--third-text-color);
}

/* Особливості */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
}
.container-features {
    display: flex;
}

.features {
    list-style-type: none;
    flex-basis: 270px;
}
.features + .features {
    margin-left: 30px;
}
.container-icon-features {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--features-color);
}
.caption-features {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10;
}
.text-features {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
}

/* Чим ми займаємося  */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.caption {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}
.image-container {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.image {
    list-style-type: none;
}

/* Наша команда */
.bg-team {
    background-color: #f5f4fa;
}
.card-team {
    background-color: var(--third-text-color);
    list-style-type: none;
    width: 270px;
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-container {
    display: flex;
    gap: 30px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
.team-text {
    padding: 30px 10px;
}
.name-team {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 10px;
}
.desk-team {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 16px;
}
.container-soc-link {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}
.list-soc-link {
    list-style-type: none;
}
.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--third-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons-color);
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--third-text-color);
}
.team-soc-icon {
    fill: currentColor;
}

/* Постійні клієнти */
.clients {
    display: flex;
    padding-left: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.list-clients {
    list-style-type: none;
}

.logo-clients {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--icons-color);
    align-items: center;
    justify-content: center;
}
.logo-clients:hover,
.logo-clients:focus {
    color: var(--accent-color);
}
.logo-clients-item {
    fill: currentColor;
}

/* Підвал */
.bg-footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-general-container {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    color: var(--black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-first {
    color: var(--accent-color);
}
.logo-second {
    color: var(--third-text-color);
}
address {
    margin-top: 20px;
}
.adress-container {
    display: block;
}
.footer-container {
    padding-left: 0;
    margin: 0;
}
.footer-adress {
    color: var(--third-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-adress:hover,
.footer-adress:focus {
    color: var(--accent-color);
}
.footer-contacts {
    color: var(--footer-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}
.list-footer {
    list-style-type: none;
}
.list-footer:not(:first-child) {
    margin-top: 9px;
}
.connect-container {
    margin-left: 70px;
}
.container-connect-item {
    display: flex;
    padding-left: 0;
    gap: 10px;
}
.connect-caption {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-top: 0;
    margin-bottom: 20px;
}
.connect-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-text-color);
}
.connect-link:hover,
.connect-link:focus {
    background-color: var(--accent-color);
}
.connect-item {
    fill: currentColor;
}

/* Finish Studio page */

/* Start Portfolio page */
button {
    cursor: pointer;
}
/* Фільтр */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list-filtres {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filtres {
    list-style-type: none;
}
.filtres + .filtres {
    margin-left: 8px;
}
.bg-filtres {
    background-color: rgba(245, 244, 250, 1);
    color: var(--primary-text-color);
}
.bg-filtres:hover,
.bg-filtres:focus {
    background-color: var(--accent-color);
    color: var(--third-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.text-filtres {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 25px;
}
/* Проекти */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projects {
    list-style-type: none;
    width: calc((100% - 60px) / 3);
}
.projects-link {
    display: block;
}
.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-text {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.caption-projects {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    margin-bottom: 4px;
}
.desk-projects {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin: 0;
}
a {
    text-decoration: none;
}

/* Finish Portfolio page */
